[Unit]
Description=SQLite database backup to Google Drive
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/data-backup
User=[[[  YOUR USERNAME HERE  ]]]

[Install]
WantedBy=multi-user.target
